 .top-bar{
  padding-block: 24px;
  
  @include constentPaddingInline;

  align-items: center;
  display: flex;
  justify-content: space-between;

  @include onTablet {
   padding: 64px 72px;

  }

  &__icons{
    display: flex;
    gap: 24px;
   }

   &__logo{
    display: flex;
   }

}

